$unit: 30px;
$color1: black;
$color2: #FAFAFA;
$color3: #000413;

// C O L O R S
$base-color: rgb(131, 7, 56);
$green-color: rgb(12, 217, 51);
$blue-color: #4000ff;
$orange-color: #ff6300;
$pink-color: #ff00ff;
$red-color: #ff0054;
@font-face {
	font-family: "book";
	src: url("fontes/standard-book.ttf");
}
@font-face {
	font-family: "book-italic";
	src: url("fontes/standard-book-italic.ttf");
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}

.on {
	display: block;
}

.off {
	display: none;
}

::selection {
	background: $pink-color;
	color: white;
}

.light {
	background: $color2;
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

.dark {
	background-color: #080808;
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

body {
	margin: 0;
	font-family: "book";
	font-size: $unit/2;
	letter-spacing: 0.5px;
	position: absolute;
	height: 100%;
	width: 100%;

	nav {
		position: fixed;
		z-index: 100;
		width: auto;
		height: auto;
		bottom: 0;

		#btnAbout,
		#btnMuted {
			font-family: "book";
			font-size: $unit/2;
			padding: $unit/6;
			border: solid 1px $color3;
			background: $color2;
			cursor: pointer;
		}

		#btnMuted {
			margin-bottom: 10px;
			margin-left: $unit/6;
		}

		#btnMuted:hover {
			background: black;
			color: white;
		}
	}

	.hidden {
		display: none;
	}

	main {
		position: fixed;
		height: 100%;
		width: 100%;

		table {
			width: 100%;
			table-layout: fixed;
			position: fixed;
			z-index: 2;
		}

		.col-letter {
			color: $color1!important;
			text-align: center;
			height: 5vh;
			padding-bottom: 2vh;
			margin-bottom: 2vh;
			&hover {}
		}
	}

	#about,
	#list {
		height: 100%;
	}

	#about {
		background: $color2;
		width: 100%;
		height: 100%;
		position: relative;

		p:nth-of-type(1){
			margin-top: 0px;
			padding-top: $unit/2;
		}

		table {
			height: 100%;
			top: 0px;
	    table-layout: fixed;
			z-index: 1;
			td {
				text-align: center;

				span {
					padding: 3px;
				}
			}
			.col-letter > :nth-of-type(7n + 1) {
				color: $base-color;
			}

			.col-letter > :nth-of-type(7n + 2) {
				color: $orange-color;
			}

			.col-letter > :nth-of-type(7n+3) {
				color: $pink-color;
			}

			.col-letter > :nth-of-type(7n + 4) {
				color: $red-color;
			}

			.col-letter > :nth-of-type(7n + 5) {
				color: $green-color;
			}

			#btnAbout {
				height: 10%;
				vertical-align: top;

				span {
					position: absolute;
				}

				td {
					outline: 1px solid transparent;
					border-bottom: 1px;
				}

				td:nth-last-of-type(10) {
					span {
						margin-top: $unit;
					}
				}

				td:nth-last-of-type(9) {
					span {
						margin-top: $unit*2;
					}
				}

				td:nth-last-of-type(8) {
					span {
						margin-top: $unit*4;
					}
				}

				td:nth-last-of-type(7) {
					span {
						margin-top: $unit*5;
					}
				}

				td:nth-last-of-type(6) {
					span {
						margin-top: $unit*6;
					}
				}

				td:nth-last-of-type(5) {
					span {
						margin-top: $unit*7;
					}
				}

				td:nth-last-of-type(4) {
					span {
						margin-top: $unit*9;
					}
				}

				td:nth-last-of-type(3) {
					span {
						margin-top: $unit*11;
					}
				}

				td:nth-last-of-type(2) {
					span {
						margin-top: $unit*12;
					}
				}

				td:nth-last-of-type(1) {
					span {
						margin-top: $unit*14;
					}
				}

				span:hover {
					cursor: pointer;
					border: 1px solid;
				}
			}
		}
		.hovered [data-letter="infos"]{
			font-size: 50px;
			background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.polyLeft {
			z-index: 10;
			float: left;
			shape-outside: polygon(21% 49%, 59% 70%, 0 100%, 0 0, 60% 28%);
			clip-path: polygon(21% 49%, 59% 70%, 0 100%, 0 0, 60% 28%);
			height: 100%;
			width: 50%;
			background: #FAFAFA;
		}

		.intro {
			z-index: 10;
			letter-spacing: 0.05vw;
			font-family: "book";
			width: 50vw;
			cursor: auto;
			color: #000413;
			position: relative;
			a{
				text-decoration: none;
				color: $red-color;
			}
			a:hover{
				font-style:italic;
			}
			.end{
				font-family: "book-italic" !important;
			}

			p + p {
				padding-top: $unit/2;
			}

			span {
				color: $pink-color;
			}

			span:nth-of-type(2) {
				color: $base-color;
			}

			span:nth-of-type(4n + 1) {
				color: $green-color;
			}

			span:nth-of-type(6n + 2) {
				color: $orange-color;
			}

			span:nth-of-type(4) {
				color: $blue-color;
			}

			span:hover {
				text-shadow: none;
				font-style: italic;
				cursor: pointer;
			}
		}

		.polyRight {
			position: relative;
			display: block;
			float: right;
			shape-outside: polygon(100% 0%, 100% 46%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	    clip-path: polygon(100% 0%, 100% 46%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
			height: 100%;
			width: 50%;
			background: #FAFAFA;
			}
			.imgSwitch{
				margin:  0 auto;
				position: relative;
			}
			.imgSwitch img {

			 width: 80px;
		 }
			.imgSwitch img.imgChange {
			z-index: 9999;
			transition: opacity .5s linear;
			cursor: pointer;
			display: none !important;
			}
			.imgSwitch:hover img.imgChange{
  		 display: block!important;
			}
			.imgSwitch:hover img.imgLogo{
			 display: none!important;
			}

		.generique{
			bottom: $unit;
			color: grey;
			margin-right: 0px;
			text-align: right;
			position: relative;
			z-index: 10;
			p{
				letter-spacing: 0.05vw;
				margin: 0;

				a:nth-of-type(3) {
					color: $pink-color;
					text-decoration: none;
				}

				a:nth-of-type(2) {
					color: $blue-color;
					text-decoration: none;
				}

				a:nth-of-type(7) {
					color: $green-color;
					text-decoration: none;
				}

				a:nth-of-type(1) {
					color: $base-color;
					text-decoration: none;
				}

				a {
					color: $orange-color;
					text-decoration: none;
				}

				a:hover {
					text-decoration: none;
					font-style: italic;
					cursor: pointer;
				}
				span{
					color: $pink-color
				}

				span:nth-of-type(2) {
					color: $base-color;
				}

				span:nth-of-type(4n + 1) {
					color: $green-color;
				}

				span:nth-of-type(6n + 2) {
					color: $orange-color;
				}

				span:nth-of-type(4) {
					color: $blue-color;
				}

				span:hover {
					text-shadow: none;
					font-style: italic;
					cursor: pointer;
				}
			}
		}

		img {
			padding: 15px;
			width: 100px;
			height: auto;
			position: fixed;
			bottom: 10px;
			z-index: 10;
			left: $unit/2;
			// filter: grayscale(1);
		}
	}
	#list{
		width: 100%;
		padding: 0 !important;

		table#table_list {
			height: 95vh;
		}

		table#infomedia {
			height: 5vh;
			bottom: 0;

			tr {
				td {
					text-align: center;
				}
			}
		}

		th span {
			padding: 3px;
			cursor: text;
		}
		th span [data-letter="infos"]{
			border: solid 1px $color3 !important;
		}
		th span:hover {
			text-decoration: none !important;
			cursor:pointer;
		}

		tr.col-words {
			height: 30vh;
			vertical-align: baseline;
		}

		tr.col-words td span {
			text-transform: lowercase;
			position: absolute;
			background: $color2;
		}

		tr.col-words td span:not(.Called) {
			color: $blue-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 0) {
			color: $red-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
			margin-top: 0;
			position: absolute;
			color: $green-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
			margin-top: 6vh;
			position: absolute;
			color: $pink-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 3) span {
			margin-top: 12vh;
			color: $orange-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 4) span {
			margin-top: 18vh;
			color: $base-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 5) span {
			margin-top: 24vh;
			color: $pink-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 5) {
			color: $pink-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 4) span {
			margin-top: 0;
			position: absolute;
			color: $red-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 3) span {
			margin-top: 6vh;
			position: absolute;
			color: $base-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 2) span {
			margin-top: 12vh;
			color: $green-color;
			position: absolute;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 1) span {
			margin-top: 18vh;
			color: $orange-color;
			position: absolute;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 0) span {
			margin-top: 24vh;
			color: $green-color;
			position: absolute;
		}

		td.hidden {
			visibility: hidden;
		}

		.Called span {
			cursor: pointer;
			text-decoration: none;
			padding: 3px;
			border: 1px solid transparent;

			&:hover {
				cursor: pointer;
			}

			&:visited {
				text-decoration: none;
			}

			& + span {
				margin-top: 3vh !important;
				margin-left: 1vh !important;
			}
		}

		.notCalled span {
			padding: 3px;
			color: $color1 !important;

			&:hover {
				color: $color1 !important;
				cursor: not-allowed !important;
				border: none;
				box-shadow: none;
			}
		}

		.hovered span [data-letter] {
			padding: 4px;
		}

		.Called.hovered span, .notCalled.hovered span, th.hovered span {
			outline: solid 1px;
		}
		[data-letter="infos"] span{
		border: 1px solid;
			&:hover{
			background: black;
			color: white;
			border: 1px solid transparent;

		  }
		}
		.hovered span:hover {
			outline: solid 1px;
			cursor: pointer;
		}

		.notCalled {
			.hovered span:hover {
				box-shadow: none;
				border: none;
			}
		}
	}

	#lecteurV {
		z-index: 0;
		max-width: 80%;
		max-height: 100%;
		height: auto;
		position: fixed;
		bottom: 0;
		right: 0;
		cursor: none;

		&.onback {
			transition-timing-function: ease-in-out;
			transition: 0.75s;
		}

		&.onfront {
			opacity: 1;
			transition-timing-function: ease-in-out;
			transition: 0.75s;
		}
	}

	#infomedia {
		position: fixed;
	}
}
@media only screen and (max-width: 800px) {
	body {
		font-size: 10px;

		#about {
			width: 100%;
			position: relative;
			overflow-y: scroll;
			overflow-x: hidden;

			.polyRight,
			.polyLeft {
				display: none;
			}

			.generique,
			.intro {
				margin-top: $unit;
				text-align: left;
				width: 100%;
				font-size: 15px;
				line-height: 21px;
				padding: 15px;

				p {
					padding-right: 40px;
				}
			}

			tr#btnAbout{
					padding-left: 0px;
					margin-top: initial;
					font-size: 15px;
					th{
						display: none;
					}
					.letter span:nth-of-type(1){
						margin-top: 0px;
					}
			}

			img {
				position: relative;
				width: 100px;
			}
		}
	}
}
