@font-face {
  font-family: "book";
  src: url("fontes/standard-book.ttf"); }
@font-face {
  font-family: "book-italic";
  src: url("fontes/standard-book-italic.ttf"); }
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none; }

.on {
  display: block; }

.off {
  display: none; }

::selection {
  background: #ff00ff;
  color: white; }

.light {
  background: #FAFAFA;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear; }

.dark {
  background-color: #080808;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear; }

body {
  margin: 0;
  font-family: "book";
  font-size: 15px;
  letter-spacing: 0.5px; }
  body #btnAbout {
    position: fixed;
    font-size: 15px;
    letter-spacing: 0.5px;
    right: 10px;
    top: 15px;
    z-index: 100;
    padding: 7.5px;
    border: solid 1px yellow;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #FAFAFA;
    box-shadow: 2px 2px 0px yellow; }
  body .hidden {
    display: none; }
  body main {
    position: fixed;
    height: 100%; }
    body main table {
      width: 100%;
      table-layout: fixed;
      position: fixed;
      z-index: 2; }
    body main .col-letter {
      color: black !important;
      text-align: center;
      height: 5vh;
      padding-bottom: 2vh;
      margin-bottom: 2vh; }
  body #about,
  body #list {
    height: 100%; }
  body #about {
    position: relative; }
    body #about table {
      height: 0;
      position: fixed;
      top: 0; }
      body #about table .col-letter th:nth-of-type(7n + 1) {
        color: purple; }
      body #about table .col-letter th:nth-of-type(7n + 2) {
        color: #ff4000; }
      body #about table .col-letter th:nth-of-type(7n+3) {
        color: #ff00ff; }
      body #about table .col-letter th:nth-of-type(7n + 4) {
        color: #ff0040; }
      body #about table .col-letter th:nth-of-type(7n + 5) {
        color: #4000ff; }
    body #about .intro {
      padding: 15px;
      letter-spacing: 0.05vw;
      font-family: "book";
      width: 50vw;
      cursor: auto;
      color: #000413;
      margin-top: 36px; }
      body #about .intro p {
        letter-spacing: 0.05vw;
        margin: 0; }
        body #about .intro p a:nth-of-type(3) {
          color: #ff00ff;
          text-decoration: none; }
        body #about .intro p a:nth-of-type(2) {
          color: #0000ff;
          text-decoration: none; }
        body #about .intro p a:nth-of-type(7) {
          color: #4000ff;
          text-decoration: none; }
        body #about .intro p a:nth-of-type(1) {
          color: purple;
          text-decoration: none; }
        body #about .intro p a {
          color: #ff4000;
          text-decoration: none; }
        body #about .intro p a:hover {
          text-decoration: none;
          font-style: italic;
          text-shadow: 1px 1px 30px;
          cursor: pointer; }
      body #about .intro p + p {
        text-indent: 90px; }
      body #about .intro span {
        color: #ff00ff; }
      body #about .intro span:nth-of-type(2) {
        color: purple; }
      body #about .intro span:nth-of-type(4n + 1) {
        color: #4000ff; }
      body #about .intro span:nth-of-type(6n + 2) {
        color: #ff4000; }
      body #about .intro span:nth-of-type(4) {
        color: #0000ff; }
      body #about .intro span:hover {
        text-shadow: none;
        font-style: italic;
        text-shadow: 1px 1px 30px;
        cursor: pointer; }
    body #about img {
      padding: 15px;
      width: 100px;
      height: auto;
      position: fixed;
      bottom: 10px; }
  body #list {
    width: 100%;
    padding: 0 !important; }
    body #list table {
      height: 100%; }
    body #list tr.col-words {
      height: 30vh;
      vertical-align: baseline;
      padding: 10px; }
    body #list tr.col-words td span {
      text-transform: lowercase;
      padding: 3px;
      position: absolute;
      background: #FAFAFA;
      border-radius: 3px; }
    body #list tr.col-words td span:not(.Called) {
      color: #0000ff; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 0) {
      color: #ff0040; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
      margin-top: 0;
      position: absolute;
      color: #4000ff; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
      margin-top: 6vh;
      position: absolute;
      color: #ff00ff; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 3) span {
      margin-top: 12vh;
      color: #ff4000; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 4) span {
      margin-top: 18vh;
      color: purple; }
    body #list tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 5) span {
      margin-top: 24vh;
      color: #ff00ff; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 5) {
      color: #ff00ff; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 4) span {
      margin-top: 0;
      position: absolute;
      color: #ff0040; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 3) span {
      margin-top: 6vh;
      position: absolute;
      color: purple; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 2) span {
      margin-top: 12vh;
      color: #4000ff;
      position: absolute; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 1) span {
      margin-top: 18vh;
      color: #ff4000;
      position: absolute; }
    body #list tr.col-words:nth-of-type(even) td:nth-of-type(5n + 0) span {
      margin-top: 24vh;
      color: #4000ff;
      position: absolute; }
    body #list td.hidden {
      visibility: hidden; }
    body #list .Called span {
      cursor: pointer;
      text-decoration: none;
      padding: 4px;
      border: 1px solid transparent; }
      body #list .Called span:hover {
        cursor: pointer; }
      body #list .Called span:visited {
        text-decoration: none; }
      body #list .Called span + span {
        margin-top: 3vh !important;
        margin-left: 1vh !important; }
    body #list .notCalled span {
      box-shadow: 2px 2px 0px transparent;
      border: 1px solid transparent;
      padding: 4px;
      color: black !important; }
      body #list .notCalled span:hover {
        color: black !important;
        cursor: not-allowed !important; }
    body #list .hovered span [data-letter] {
      box-shadow: 2px 2px 0px black;
      border: 1px solid transparent;
      padding: 0 2px; }
    body #list .hovered span:hover {
      color: red; }
    body #list .Called span:hover:before {
      content: attr(data-author);
      text-transform: lowercase;
      position: fixed;
      bottom: 5px;
      left: 0;
      width: auto;
      outline: solid 1px #000413;
      background: #FAFAFA;
      width: 100%;
      text-align: center;
      color: #373737; }
  body #lecteurV {
    z-index: 0;
    max-width: 80%;
    max-height: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0; }
    body #lecteurV.onback {
      transition-timing-function: ease-in-out;
      transition: 0.75s; }
    body #lecteurV.onfront {
      opacity: 1;
      transition-timing-function: ease-in-out;
      transition: 0.75s; }

@media only screen and (max-width: 800px) {
  body {
    font-size: 10px; }
    body #btnAbout {
      font-size: 10px; } }

/*# sourceMappingURL=style-bak.css.map */
