$unit: 30px;
$color1: black;
$color2: #FAFAFA;
$color3: #000413;
// C O L O R S
$base-color: purple;
$darken-color: #4000ff;
$blue-color: #0000ff;
$orange-color: #ff4000;
$pink-color: #ff00ff;
$red-color: #ff0040;
@font-face {
	font-family: "book";
	src: url("fontes/standard-book.ttf");
}
@font-face {
	font-family: "book-italic";
	src: url("fontes/standard-book-italic.ttf");
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}

.on {
	display: block;
}

.off {
	display: none;
}

::selection {
	background: $pink-color;
	color: white;
}

.light {
	background: $color2;
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

.dark {
	background-color: #080808;
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

body {
	margin: 0;
	font-family: "book";
	font-size: $unit/2;
	letter-spacing: 0.5px;

	#btnAbout {
		position: fixed;
		font-size: $unit/2;
		letter-spacing: 0.5px;
		right: 10px;
		top: $unit/2;
		z-index: 100;
		padding: $unit/4;
		border: solid 1px yellow;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
		background: $color2;
		box-shadow: 2px 2px 0px yellow;
	}

	.hidden {
		display: none;
	}

	main {
		position: fixed;
		height: 100%;

		table {
			width: 100%;
			table-layout: fixed;
			position: fixed;
			z-index: 2;
		}

		.col-letter {
			color: $color1 !important;
			text-align: center;
			height: 5vh;
			padding-bottom: 2vh;
			margin-bottom: 2vh;

			&hover {}
		}
	}

	#about,
	#list {
		height: 100%;
	}

	#about {
		position: relative;

		table {
			height: 0;
			position: fixed;
			top: 0;

			.col-letter th:nth-of-type(7n + 1) {
				color: $base-color;
			}

			.col-letter th:nth-of-type(7n + 2) {
				color: $orange-color;
			}

			.col-letter th:nth-of-type(7n+3) {
				color: $pink-color;
			}

			.col-letter th:nth-of-type(7n + 4) {
				color: $red-color;
			}

			.col-letter th:nth-of-type(7n + 5) {
				color: $darken-color;
			}
		}

		.intro {
			padding: 15px;
			letter-spacing: 0.05vw;
			font-family: "book";
			width: 50vw;
			cursor: auto;
			color: #000413;
			margin-top: 36px;

			p {
				letter-spacing: 0.05vw;
				margin: 0;

				a:nth-of-type(3) {
					color: $pink-color;
					text-decoration: none;
				}

				a:nth-of-type(2) {
					color: $blue-color;
					text-decoration: none;
				}

				a:nth-of-type(7) {
					color: $darken-color;
					text-decoration: none;
				}

				a:nth-of-type(1) {
					color: $base-color;
					text-decoration: none;
				}

				a {
					color: $orange-color;
					text-decoration: none;
				}

				a:hover {
					text-decoration: none;
					font-style: italic;
					text-shadow: 1px 1px 30px;
					cursor: pointer;
				}
			}

			p + p {
				text-indent: $unit*3;
			}

			span {
				color: $pink-color;
			}

			span:nth-of-type(2) {
				color: $base-color;
			}

			span:nth-of-type(4n + 1) {
				color: $darken-color;
			}

			span:nth-of-type(6n + 2) {
				color: $orange-color;
			}

			span:nth-of-type(4) {
				color: $blue-color;
			}

			span:hover {
				text-shadow: none;
				font-style: italic;
				text-shadow: 1px 1px 30px;
				cursor: pointer;
			}
		}

		img {
			padding: 15px;
			width: 100px;
			height: auto;
			position: fixed;
			bottom: 10px;
			// filter: grayscale(1);
		}
	}

	#list {
		width: 100%;
		padding: 0 !important;

		table {
			height: 100%;
		}

		th span {
			// text-align: center;
		}

		tr.col-words {
			height: 30vh;
			vertical-align: baseline;
			padding: 10px;
		}

		tr.col-words td span {
			text-transform: lowercase;
			padding: 3px;
			position: absolute;
			background: $color2;
			border-radius: 3px;
		}

		.Called {}

		tr.col-words td span:not(.Called) {
			color: $blue-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 0) {
			color: $red-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
			margin-top: 0;
			position: absolute;
			color: $darken-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 2) span {
			margin-top: 6vh;
			position: absolute;
			color: $pink-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 3) span {
			margin-top: 12vh;
			color: $orange-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 4) span {
			margin-top: 18vh;
			color: $base-color;
		}

		tr.col-words:nth-of-type(odd) td:nth-of-type(5n + 5) span {
			margin-top: 24vh;
			color: $pink-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 5) {
			color: $pink-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 4) span {
			margin-top: 0;
			position: absolute;
			color: $red-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 3) span {
			margin-top: 6vh;
			position: absolute;
			color: $base-color;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 2) span {
			margin-top: 12vh;
			color: $darken-color;
			position: absolute;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 1) span {
			margin-top: 18vh;
			color: $orange-color;
			position: absolute;
		}

		tr.col-words:nth-of-type(even) td:nth-of-type(5n + 0) span {
			margin-top: 24vh;
			color: $darken-color;
			position: absolute;
		}

		td.hidden {
			visibility: hidden;
		}

		.Called span {
			cursor: pointer;
			text-decoration: none;
			padding: 4px;
			border: 1px solid transparent;

			&:hover {
				cursor: pointer;
			}

			&:visited {
				text-decoration: none;
			}

			& + span {
				margin-top: 3vh !important;
				margin-left: 1vh !important;
			}
		}

		.notCalled span {
			box-shadow: 2px 2px 0px transparent;
			border: 1px solid transparent;
			padding: 4px;
			color: $color1 !important;

			&:hover {
				color: $color1 !important;
				cursor: not-allowed !important;
			}
		}

		.hovered span [data-letter] {
			box-shadow: 2px 2px 0px black;
			border: 1px solid transparent;
			padding: 0 2px;
		}

		.hovered span:hover {
			color: red;
		}


		.Called span:hover:before {
			content: attr(data-author);
			text-transform: lowercase;
			position: fixed;
			bottom: 5px;
			left: 0;
			width: auto;
			outline: solid 1px $color3;
			background: $color2;
			width: 100%;
			text-align: center;
			color: rgb(55, 55, 55);
		}
	}

	#lecteurV {
		z-index: 0;
		// visibility: hidden;
		max-width: 80%;
		max-height: 100%;
		height: auto;
		position: fixed;
		bottom: 0;
		right: 0;

		&.onback {
			transition-timing-function: ease-in-out;
			transition: 0.75s;
		}

		&.onfront {
			opacity: 1;
			transition-timing-function: ease-in-out;
			transition: 0.75s;
		}
	}
}
@media only screen and (max-width: 800px) {
	body {
		font-size: 10px;
		#btnAbout {
			font-size: 10px;
		}
	}
}
