$unit: 30px;
body{
  background:burlywood;
    video{
      position: fixed;
      z-index: -1;
      padding: 0px
    }
    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: test 29.15s linear infinite;
    }
    @keyframes test{
      from {
   stroke-dashoffset: 1000;
   }
   to {
   stroke-dashoffset: 0;
  }
}
}
